* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:#f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}

.wrapper {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.6),
        rgba(47, 48, 58, 0.6)
      ),
      url(../Img/bgImagePrimary.jpg);
      padding-left: 10px;
      padding-right: 10px;
    width: 360px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo {
    width: 360px;
}
.photo-style {
    border-radius: 50%;
    overflow: hidden;
}
.about-me-container {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
    padding-bottom: 80px;
   
}
.contacts-container {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    }
.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #878d95;
    }
.contacts-link-type { 
    font-size: 14px;
    font-weight: 7ß00;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}
.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}
.tech-skills-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #009933;
}
.tech-skills-text {
    color: #e1e2e5;
}
.soft-skills-container {
    margin-left: 20px;
    margin-right: 20px;
   
}
.soft-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
.soft-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #009933;
}
.soft-skills-text {
    color: #e1e2e5;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;

    text-transform: uppercase;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.discription {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.info-container {
    margin-bottom: 65px;
}
.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.tech-name {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots {
    color: #a8a8a8;
    font-weight: 100;
}
.projects-item {
    font-weight: 700;
    margin-left: 17px;
}
.projects-container {
    margin-bottom: 55px;
}
.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.profession-company {
    color: #006622
}
.profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.profession-divider {
    color: #000000;
}
.profession-duties {
    margin-top: 14px;
    margin-bottom: 30px;
    margin-left: 17px;
}
.profession-duties-items {
color: #595959;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.education-container:not(:last-child) {
   margin-bottom: 10px;
}
.education-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
    color: #006622;
}
.education-profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
}
.education-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.education-divider {
    color: #000000;
}

.social-links {
            list-style: none;
}
.social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: contain;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #ffffff;
  }

  .social-icon:hover, .social-icon:focus {
    background-color: #009933;
    border-radius: 50%;
    fill: #ffffff;
    cursor: pointer;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sl-items {
display: inline-flex;
align-items: center;

  }
  .primary-link {
color: #ffffff;
padding-left: 6px;
font-size: 14px;
  }
  .work-exp {
    margin-bottom: 55px;
  }